@tailwind base;
@tailwind components;
@tailwind utilities;



.content {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 375px) {
    
    .content2{
        background-color: black;
    }
  }